.basic-table {
  @extend %list-style;
  margin-bottom: 20px;

  // Body parent selectors required for specificity
  body & {

    td,
    th {
      background: none;
      border: 0;
    }
  }

  &__header {
    border-bottom: 1px solid $color-mid-light;
    font-weight: 400;
  }

  &__row {
    border-bottom: 0;
    transition: all 0.25s;

    &-link {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      // Raise the main link above the children so that it can be clicked on.
      z-index: 1;
    }

    &--clickable {
      cursor: pointer;
    }

    &.is-expanded {
      background: $color-x-light;
      margin: 1rem 0;
      padding: .25rem;
    }

    &:first-child.is-expanded {
      border-top: 1px solid $color-mid-light;
    }
  }

  tbody tr:hover {
    background-color: $color-x-light;
  }
}
