.profile-credential-list {
  &--highlighted {
    background-color: $white;
  }

  &__add {
    margin-right: 1rem;
    text-align: right;
  }

  .deployment-cloud__list {
    padding: 0 20px;
  }

  .deployment-cloud__cloud-logo svg {
    max-width: 200px;
  }

  .dropdown-menu {
    right: 7px;
  }

  .dropdown-menu__list {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .dropdown-menu__list-item-link {
    padding-right: 0;
    padding-left: 0;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 171px;
  }
}
