.profile-model-list {

  &__header {
    display: grid;
    grid-template-columns: 1fr 170px;
  }

  table th[scope='col'] {
    text-align: left;
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1.5fr 0.25fr 0.75fr 0.25fr;
  }
}
